.home_container {
  display: flex;
  padding: 50px 100px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media (max-width: 768px) {
  .home_container {
    gap: 22px;
    padding: 20px;
  }
}

.home_main_section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px 2vh;
  max-width: 1240px;
  padding: 40px 2vh;
  flex-shrink: 0;
  border-radius: 25px;
  background: #f6f6f6;
}

@media (max-width: 768px) {
  .home_main_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne pour les écrans de tablette */
    gap: 20px;
    background: none;
    padding: 0;
  }
}
