.home_container {
  display: flex;
  padding: 50px 100px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @media (max-width: 768px) {
    gap: 22px;
  }
}
.home_banner_section {
  position: relative;
  background: #000;
  border-radius: 25px;
  width: 1240px;
  height: 223px;
  @media (max-width: 768px) {
    width: 335px;
    height: 111px;
  }
}
.home_banner_img {
  background: #000;
  opacity: 0.5;
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  @media (max-width: 768px) {
    width: 335px;
    height: 111px;
  }
}
.home_banner_title_container {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 1240px;
  height: 223px;
  @media (max-width: 768px) {
    width: 335px;
    height: 111px;
    padding-left: 20px;
  }
}

.home_banner_title {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 100%; /* 24px */
  }
}

.home_main_section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px 60px;
  padding: 55px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #f6f6f6;
  @media (max-width: 768px) {
    width: 335px;
    grid-template-columns: auto;
    gap: 20px;
    background: none;
    padding: 0;
  }
}
