.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  @media (max-width: 768px) {
    margin-top: 20px;
  }

  .header_nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    @media (max-width: 768px) {
      gap: 30px;
    }
  }
}

.header_nav_link {
  color: #000;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
  }
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
