.carousel {
  display: flex;
  position: relative;
}

.carousel_img {
  max-width: 1240px;
  width: 100%;
  height: 35vh;
  flex-shrink: 0;
  border-radius: 25px;
  background: lightgray 50% / cover no-repeat;
}

@media (max-width: 768px) {
  .carousel_img {
    height: 30vh;
    border-radius: 10px;
  }
}

.carousel_index {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
}

@media (max-width: 768px) {
  .carousel_index {
    visibility: hidden;
  }
}

.arrow_left {
  position: absolute;
  left: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .arrow_left {
  }
}

.arrow_right {
  position: absolute;
  right: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .arrow_right {
    /* Ajoutez ici des styles spécifiques pour les flèches sur les petits écrans, si nécessaire */
  }
}
